.home {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  padding: 24px 36px;
  gap: 20px;
  background-color: #fbfbf9;
}

.main nav {
  min-width: 200px;
}
