.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  flex: 1;
  border: 1px solid red;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100%;
  padding: 24px 36px;
  gap: 20px;
  background-color: #fbfbf9;
  width: 100%;
  flex: 1;
}

.main nav {
  min-width: 200px;
}
