* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  height: 100vh;
  font-family: Inter;
  font-weight: 500;
  color: #2b2b2b;
  display: flex;
  border: 1px solid yellow;
  overflow: hidden;
}
